*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-color:black;
    background-image: url("bg.jpg");
    background-attachment: fixed;

}

.przyciemniacz{
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('bg.jpeg');
    background-size: cover;
    background-position: center;
}

nav{
    height: 150px;
    width: 100%;
    color: #ccb05a;
    background-color: black;
}
nav img{
    width: 150px;
}
/*
#ccb05a jasny
#806f39 ciemny
*/
.container{
    width: 95%;
    margin: 0 auto;

}

nav i{
    color:#ccb05a ;
}

.a1{
    transition: all 0.5s;
    color: white;
    position: absolute;
    top: 7%;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.a1:hover{
    transition: all 0.5s;
    border-bottom: 1px solid #ccb05a;
    color: rgb(161, 161, 161);
}

.a2{
    transition: all 0.5s;
    color: white;
    position: absolute;
    top: 6.9%;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    left: 1425px;
    border-bottom: 1px solid #ccb05a;
}

.a2:hover{
    transition: all 0.5s;
    border-bottom: 1px solid #ccb05a;
    color: rgb(161, 161, 161);
}

.a3{
    transition: all 0.5s;
    color: white;
    position: absolute;
    top: 6.9%;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    left: 580px;
    background: none;
    border: none;
}

.a3:hover{
    transition: all 0.5s;
    border-bottom: 1px solid #ccb05a;
    color: rgb(161, 161, 161);
}

.a4{
    transition: all 0.5s;
    color: white;
    position: absolute;
    top: 6.9%;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    left: 1150px;
}

.a4:hover{
    transition: all 0.5s;
    border-bottom: 1px solid #ccb05a;
    color: rgb(161, 161, 161);
}

#flaga1{
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

article{
    width: 50rem;
    color: white;
}

.toja{
    width: 200px;
}

#ukryteBatony{
    border: transparent;
    background: transparent;
    display: none;
    animation: fadeInOut 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 75px;
    position: absolute;
    top: 12.5%;
    left: 39.5%;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


footer{
    background-color: black;
    color: #ccb05a;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    color: white;
}

.download{
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    background: none;
    border: none;
    font-family: 'Space Grotesk', sans-serif;
}

.a5{
    position: absolute;
    right: 10%;
    scale: 1.5;
    top: 6.9%;
}

.a5 .download:hover{
    transition: all 0.5s;
    border-bottom: 1px solid #ccb05a;
    color: rgb(161, 161, 161);
}

.social-icon{
    font-size: 30px;
    text-decoration: none;
    color: #ccb05a;
    margin: 0 10px;
    transition: ease 0.3s;
}

.social-icon:hover{
    transition: ease 0.3s;
    transform: scale(1.5);
}

form{
    background-color: black;
    margin: 0 auto;
    width: 30em;
    margin-top: 5rem;
    padding: 75px;
    border-radius: 15px;
    color: #ccb05a;
}

input, textarea{
    background-color: white;
    border: none;
}


input{
    width: 300px;
}

label{
    text-align: center;
}

.send, .reset{
    background-color: black;
    color: #ccb05a;
    border: none;
    position: absolute;
    bottom: 40px;
}

.reset{
    position: absolute;
    right: 105px;
}

.send:hover, .reset:hover{
    transition: ease 0.3s;
    transform: scale(1.5);
    border-bottom: 1px solid #ccb05a ;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea{
    resize: none;
}

